<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />




<header class="container-fluid headerCus">

  <div class="row vh-100 justify-content-center align-items-center pt-5 px-3 position-relative">

    <!-- @if(session('access.denied'))

         <div class="col-3 message-alert alert alert-dismissible alert-light shadow text-center alertCus shadow" role="alert">

                 {{session('access.denied')}}
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

         </div>

          @endif

          @if(session('message'))

         <div class="col-3 message-alert alert alert-dismissible alert-light shadow text-center alertCus shadow" role="alert">
             {{session('message')}}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
         </div>

         @endif -->


    <div class="col-md-8 text-center" data-aos="fade-up">
      <h1 class="text-uppercase text-white" style="z-index: 99999999;">VENDI E COMPRA, COMPRA E RIVENDI</h1>
      <p class="textWhite px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia unde rem vitae
        consequuntur veritatis cum perferendis illo ducimus impedit. Neque a culpa voluptatem</p>
      <a class="btn btn-light textBlack rounded-0 border-0 py-2 px-4 mt-3" href="">Scopri di più</a>
    </div>

  </div>

  <div class="row justify-content-end">
    <div class="col-2 text-end pe-5 position-relative">
      <a href="#"><i
          class="fa-solid fa-circle-chevron-up upToTop d-none textMain fa-2x position-fixed pb-5 bottom-0"></i></a>
    </div>
  </div>

</header>

<!-- {{-- 𝗠𝗔𝗜𝗡 --}} -->

<main class="container my-5">

  <!-- {{-- 𝗦𝗪𝗜𝗣𝗘𝗥 𝗦𝗟𝗜𝗗𝗘𝗦 𝗖𝗔𝗧𝗘𝗚𝗢𝗥𝗜𝗘 --}} -->
  <div class="row justify-content-center pt-5">
    <div class="col-12 text-center text-md-start">
      <h2>SCOPRI TUTTE LE CATEGORIE</h2>
    </div>
  </div>

  <div class="row justify-content-center my-5">

    <div class="col-12 swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let category of categories">
          <div class="d-flex flex-column align-items-center">
            <a href="/show-category/1" class="btn p-0">
              <img [src]="'assets/media/' + category.img + '.jpg'" alt="basket" class="imgCategory img-fluid rounded-3">
            </a>
            <a href="/show-category/1" class="btn p-0">
              <h5 class="pt-3 text-uppercase">{{category.name}}</h5>
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>




  <!-- {{-- 𝗔𝗡𝗡𝗨𝗡𝗖𝗜 𝗛𝗢𝗠𝗘 --}} -->

  <div class="row justify-content-around align-items-center">

    <div class="col-12 col-md-6 position-relative" data-aos="fade-right">
      <a href="" class="">
        <img src="assets/media/img11.jpg" alt="basket" class="img-fluid rounded-3">
      </a>
      <div class="position-absolute bottom-0 start-0 m-5">
        <h5 class="textWhite">SportSelection</h5>
        <p class="textWhite">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sem orci</p>
        <a href="" class="btn btn-dark bgMain border-0 textWhite rounded-0 ">NewsBtn</a>
      </div>

    </div>


    <div class="col-12 col-md-6">

      <div class="row p-4 justify-content-center vw-50">


          <div *ngFor="let product of products" class="col-6 col-md-4 p-2 justify-content-center d-flex">

            <div class="card p-2 rounded-0" style="width: 11rem;">

              <div class="card-img-top rounded-0 w-100" style="height: 140px; background-image: url('assets/media/bottombrackets.jpg'); background-position: center; background-size: cover;"></div>

              <!-- <img src="/assets/media/bottombrackets.jpg" style="height: 140px;" class="card-img-top rounded-0 w-100"> -->

              <div class="card-body p-2 d-flex flex-column justify-content-between align-items-center text-center"
                style="overflow: hidden; height: 190px">



                <h5 class="card-title mt-2 text-uppercase fs-6">{{product.name}}</h5>

                <p class="textBlue fst-italic">{{product.productCategory.name}}</p>

                <p class="textBlue fw-bold">€ {{product.standardCost}}</p>

                <a href="" class="textMain" style="font-size:1rem">View</a>

                <!-- <small class="textGrey">Pubblicato il: data</small> -->
              </div>

            </div>

        </div>

      </div>
      <!-- @endforeach -->

    </div>

  </div>

</main>




<!-- {{-- 𝗙𝗢𝗢𝗧𝗘𝗥 --}} -->

<footer class="container-fluid footer bgGrey">

  <div class="row justify-content-center p-5">

    <div class="col-4 col-md-2 text-center text-md-start">
      <h5 class="fs-6">SERVIZIO CLIENTI</h5>
      <ul class="list-unstyled" style="font-size: 0.9rem">
        <li>Contattaci</li>
        <li>Info utili</li>
        <li>Reclami</li>
        <li>Contact4</li>
        <li>Rimborsi</li>
        <li>Reclami</li>
      </ul>
    </div>

    <div class="col-4 col-md-2 text-center text-md-start">
      <h5 class="fs-6">JOBS</h5>
      <ul class="list-unstyled" style="font-size: 0.9rem">
        <li><a href="" class="text-decoration-none">Lavora con noi</a></li>
        <li><a href="" class="text-decoration-none">Area revisore</a></li>
        <li>Codice etico</li>
      </ul>
    </div>

    <div class="col-4 col-md-2 text-center text-md-start">
      <h5 class="fs-6">ACCOUNT</h5>
      <ul class="list-unstyled" style="font-size: 0.9rem">
        <li><a href="" class="text-decoration-none">Login</a></li>
        <li><a href="" class="text-decoration-none">Sign In</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 text-center text-md-start">
      <h5 class="fs-6">I NOSTRI SERVIZI</h5>
      <ul class="list-unstyled" style="font-size: 0.9rem">
        <li><a href="" class="text-decoration-none">Compra</a></li>
        <li><a href="" class="text-decoration-none">Vendi</a></li>
        <li><a href="" class="text-decoration-none">Ultime news</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 text-center text-md-start">
      <h5 class="fs-6">SEGUICI SU</h5>
      <ul class="list-unstyled">
        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
      </ul>
    </div>

  </div>

  <div class="row justify-content-center">
    <hr style="width:90%">
    <div class="col-12 col-md-6">
      <ul class="list-unstyled d-flex justify-content-around" style="font-size: 0.7rem">
        <li><a href="">Copyright © GoodsSports Inc.</a></li>
        <li> | </li>
        <li><a href="">Privacy Policy</a></li>
        <li> | </li>
        <li><a href="">Termini di utilizzo</a></li>
        <li> | </li>
        <li><a href="">Legale</a></li>
      </ul>
    </div>

  </div>

</footer>
